In [88]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [89]:
url = "https://www.espncricinfo.com/records/most-dismissals-in-career-283793"
response = requests.get(url)
html_content = response.text

In [90]:
soup = BeautifulSoup(html_content, "html.parser")

In [91]:
table = soup.find("table")

In [92]:
data = []
rows = table.find_all("tr")
for row in rows:
    cells = row.find_all("td")
    row_data = [cell.text.strip() for cell in cells]
    data.append(row_data)

In [93]:
df = pd.DataFrame(data)  # Create a DataFrame

In [94]:
df_transposed.to_csv("dismissals.csv", index=False)

In [95]:
df_transposed = df.transpose()

In [96]:
df=df_transposed

In [97]:
df = pd.DataFrame(data[1:], columns=data[0])

In [87]:
df

,Player,Span,Mat,Inns,Dis,Ct,St,Max Dis Inns,Dis/Inn
0,Q de Kock (SA),2012-2024,90,89,100,82,18,4 (4ct 0st),1.123
1,MS Dhoni (IND),2006-2019,98,97,91,57,34,5 (5ct 0st),0.938
2,IA Karim (KENYA),2013-2023,58,51,83,59,24,5 (5ct 0st),1.627
3,JC Buttler (ENG),2011-2024,123,104,79,66,13,3 (3ct 0st),0.759
4,MS Wade (AUS),2011-2024,92,88,64,58,6,3 (2ct 1st),0.727
...,...,...,...,...,...,...,...,...,...
64,Hamza Tariq (CAN),2013-2022,26,22,20,14,6,3 (3ct 0st),0.909
65,A Shreshta (NGA),2021-2023,22,22,20,18,2,3 (3ct 0st),0.909
66,C Kieswetter (ENG),2010-2012,25,23,20,17,3,3 (2ct 1st),0.869
67,Manpreet Singh (SGP),2019-2023,34,27,20,14,6,2 (2ct 0st),0.74
68,Naseem Khushi (OMA),2017-2024,51,30,20,15,5,2 (2ct 0st),0.666

In [74]:
df.to_csv('Wicket_keeping.csv', index=False)

In [75]:
df = df.rename(columns=lambda x: x.replace('*', ''))

In [76]:
df

,Player,Span,Mat,Inns,Dis,Ct,St,Max Dis Inns,Dis/Inn
0,Q de Kock (SA),2012-2024,90,89,100,82,18,4 (4ct 0st),1.123
1,MS Dhoni (IND),2006-2019,98,97,91,57,34,5 (5ct 0st),0.938
2,IA Karim (KENYA),2013-2023,58,51,83,59,24,5 (5ct 0st),1.627
3,JC Buttler (ENG),2011-2024,123,104,79,66,13,3 (3ct 0st),0.759
4,MS Wade (AUS),2011-2024,92,88,64,58,6,3 (2ct 1st),0.727
...,...,...,...,...,...,...,...,...,...
64,Hamza Tariq (CAN),2013-2022,26,22,20,14,6,3 (3ct 0st),0.909
65,A Shreshta (NGA),2021-2023,22,22,20,18,2,3 (3ct 0st),0.909
66,C Kieswetter (ENG),2010-2012,25,23,20,17,3,3 (2ct 1st),0.869
67,Manpreet Singh (SGP),2019-2023,34,27,20,14,6,2 (2ct 0st),0.74
68,Naseem Khushi (OMA),2017-2024,51,30,20,15,5,2 (2ct 0st),0.666